.item {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 7px;
  .title {
    padding: 3px 13px;
    border-bottom: 1px solid;
    .title-link {
      color: blue;
      cursor: pointer;
    }
  }
  .status {
    background: silver;
    padding: 3px 13px;
  }
  .description {
    padding: 3px 13px;
    height: 100px;
    overflow: hidden;
  }
  .sign {
    position: absolute;
    height: 26px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-left: 13px solid #fff;
    border-right: 13px solid #fff;
    overflow: hidden;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    .tag {
      display: inline-block;
      border-left: 3px solid lavender;
      border-right: 3px solid lavender;
      border-radius: 3px;
      background: lavender;
      margin-right: 3px;
      color: #777;
    }
  }
}
