.board {
  display: flex;
  width: 1300px;
  min-height: 600px;
}
.column {
  width: 210px;
  padding-right: 10px;
}
.status {
  margin-bottom: 13px;
  overflow: hidden;
  white-space: nowrap;
}
.list {
  cursor: default !important;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hover {
  background: #bbb;
}
