<div class="board">
  <div
    *ngFor="let panel of panels"
    class="column"
  >
    <div class="status">
      {{panel.title}} ({{panel.elements.length}})
    </div>
    <div
      class="list"
      (onDragOver)="onDragOver($event)"
      (onDragLeave)="onDragLeave($event)"
      (onDropSuccess)="moveElement($event)"
      [allowDrop]="allowDropFunction(panel.status)"
      dnd-droppable
    >
      <app-card
        *ngFor="let card of panel.elements"
        [card]="card"
      ></app-card>
    </div>
  </div>
</div>
