<div class="root-container">
  <div class="flex-container">
    <div class="content">
      <h1>
        {{title}}
      </h1>
      <div class="repeat" (click)="repeat()">
        repeat
      </div>
      <app-board></app-board>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      Powered by <a href="https://angular.io/">Angular 6</a> & <a href="https://www.typescriptlang.org/">TypeScript</a>
      <br />Repository <a href="https://github.com/olegsherbakov/test-project-angular">github.com</a>
    </div>
  </div>
</div>
