.root-container {
  height: 100%;
  display: flex;
  flex-direction:column;
}
.flex-container {
  flex: 1 0 auto;
  min-width: 1300px;
}
.content {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 13px;
  position: relative;
}
.repeat {
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 21px;
}
.footer {

}
.footer-content {
  width: 1300px;
  margin: 0 auto;
  padding: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
