.flex-container {
  flex: 1 0 auto;
}
.content {
  width: 1300px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 13px;
  position: relative;
}
.repeat {
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  top: 21px;
  right: 25px;
}
